HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/images/SystemDefaultPicture/SystemDefaultPicture (1).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (4).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (1).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (3).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (10).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (6).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (5).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (11).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (9).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (7).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (13).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (12).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (8).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (2).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (15).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (14).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (16).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (17).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (18).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (19).jpg
/images/SystemDefaultPicture/SystemDefaultPicture (20).jpg
/images/SystemDefaultPicture/SystemDefaultPicture_16.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_4.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_14.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_6.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_20.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_10.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_15.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_1.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_17.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_13.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_9.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_5.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_12.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_19.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_3.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_8.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_2.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_18.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_11.jpg
/images/SystemDefaultPicture/SystemDefaultPicture_7.jpg
